/* Footer 스타일 */
footer {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(225deg, #0e00ff, #a5d8fc);
    position: relative;
    color: #f4f3f7;
    font-weight: bold;
    font-family: 'Batang';

  }
  
  .fobox {
    width: 75%;
    height: 100%;
    position: relative;
    align-content: center;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .fotxt {
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
  }
  
  .fotxt > div {
    width: 15%;
  }
  
  .fam {
    position: absolute;
    right: 0;
    height: 35px;
    bottom: 20px;
    text-align: center;
    align-content: center;
    border-top: 0.1px solid rgba(255, 255, 255, 0.333);
    border-bottom: 1px solid rgba(255, 255, 255, 0.637);
  }
  
  .fost {
    width: 100%;
    height: 0.3px;
    background-color: rgba(255, 255, 255, 0.185);
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .foad {
    width: 100%;
    height: 50px;
    color: #160108;
    line-height: 30px;
    font-weight: bold;
    font-family: 'Batang', 'Garamond' ;
  }
  